body{
    background-color: #e4f9f5;
}



button{

    background-color: #30e3ca;
    font-size: 72px;
    width: 100%;
    
}

p {
    
    color: #11999e;
    font-size: 72px;
    text-align: center;
    width: 100%;
}